@import '~node_modules/modern-normalize/modern-normalize.css';

body {
  font-family: 'DM Sans', sans-serif;
//   font-family: 'Titan One', cursive;
background: #FFFFFF;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: currentColor;
}