:root {
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --transition-duration: 250ms;
  --background-site-main: #ffffff;
  --background-site-second: #fff5f6;
  --background-logo: #d41443;
  --background-btn1: #d41443;
  --background-btn2: #ffffff;
  --background-btn2-focus: #ecebeb;
  --background-cos: #fea5bb;
  --background-cos-focus: #d41443;
  --background-product1: #ffb8ca;
  --background-product2: #f0d1a5;
  --background-product3: #c2e297;
  --background-customers: #fafafa;
  --color-text-btn1: #ffffff;
  --color-text-btn2: #d41443;
  --color-text-header: #ffffff;
  --color-text-header-focus: #d41443;
  --color-title: #d41443;
  --color-title-pre: #ffa5ba;
  --color-title-pre-heder: #ffffff;
  --color-title-products: #ffffff;
  --color-text-first: #000000;
  --color-text-second: #907e82;
  --color-text-time: #ffa5ba;
  --color-text-focus: #d41443;
}
