<section class="section-about" id="about">
  <div class="container">
    <p class="section-about__label">tradition and love</p>
    <h2 class="section-about__title">how it’s made?</h2>
    <!-- <img src="" alt="" /> -->
    <ul class="section-about__list">
      <li class="section-about__item">
        Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo
        cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at
        justo fringilla.
      </li>
      <li class="section-about__item">
        Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum.
        Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl
        suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh,
        tincidunt. Aliquam erat volutpat. Aenean accumsan.
      </li>
    </ul>
    <button class="section-about__btn" type="button">
      Read more
      <!-- <svg
        class="mob-menu-btn__icon"
        width="40"
        height="40"
        role="img"
        aria-expanded="false"
        aria-controls="mob-menu"
        aria-label="Переключатель мобильного меню"
      >
        <use class="icon" href="./images/icons.svg#icon-close"></use>
      </svg> -->
    </button>
  </div>
</section>
