<section class="about" id="about">
  <div class="about__container container">
    <p class="about__label about__title-pre">tradition and love</p>
    <h2 class="about__title about__title">how it’s made?</h2>
    <div class="about__content">
      <picture class="about__pic">
        <source
          srcset="
            ./images/about-cow-mob.png    1x,
            ./images/about-cow-mob-2x.png 2x
          "
          media="(min-width: 320px)"
        />
        <img
          src="./images/about-cow-mob.png"
          alt="Image with cow and milk"
          class="about__img"
        />
      </picture>
      <div class="about__content--additional">
        <ul class="about__list">
          <li class="about__item">
            Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel
            justo cursus, faucibus lorem eget, egestas eros. Maecenas eleifend
            erat at justo fringilla.
          </li>
          <li class="about__item">
            Curabitur lacinia enim at ex blandit, vel pellentesque odio
            elementum. Mauris rhoncus orci in imperdiet placerat. Vestibulum
            euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras
            massa nibh, tincidunt.
            <p class="about__paragraph">
              Aliquam erat volutpat. Aenean accumsan.
            </p>
          </li>
        </ul>
        <button class="about__btn" type="button">
          Read more
          <svg
            class="about__btn-icon"
            width="7"
            height="10"
            role="img"
            aria-expanded="false"
            aria-controls="mob-menu"
            aria-label="Read more"
          >
            <use
              class="icon"
              href="./images/icons.svg#icon-bracket-second"
            ></use>
          </svg>
        </button>
      </div>
    </div>
    <picture>
      <source
        srcset="
          ./images/about-milk-mob.png    1x,
          ./images/about-milk-mob-2x.png 2x
        "
        media="(min-width: 320px)"
      />
      <img
        src="./images/about-milk-mob.png"
        alt="Image with cow and milk"
        class="about__pic--additional"
      />
    </picture>
  </div>
</section>
