<section class="customer-reviews" id="customer-reviews">
  <div class="container">
    <h2 class="visually-hidden">Customers-revirs</h2>
    <div class="reviews-slider swiper">
      <ul class="reviews-slider__list swiper-wrapper">
        <li class="customer-reviews__item swiper-slide">
          <picture>
            <source
              srcset="
                ./images/customer-ivan.webp    1x,
                ./images/customer-ivan-2x.webp 2x
              "
              type="image/webp"
            />
            <source
              srcset="
                ./images/customer-ivan.png    1x,
                ./images/customer-ivan-2x.png 2x
              "
            />
            <img
              class="customer-reviews__imgs"
              src="./images/customer-ivan.png"
              alt="foto of client's"
              width="85"
            />
          </picture>

          <div class="customer-reviews__wraper">
            <p class="customer-reviews__feedback">
              "You can't buy happiness, but you can buy ice cream, and that is
              pretty much the same thing."
            </p>
          </div>
          <p class="customer-reviews__location">Ivan, Ivano-Frankivsk</p>
        </li>

        <li class="customer-reviews__item swiper-slide">
          <picture>
            <source
              srcset="
                ./images/customer-nika2-min.webp    1x,
                ./images/customer-nika2-2x-min.webp 2x
              "
              type="image/webp" />
            <source
              srcset="
                ./images/customer-nika2-min.png    1x,
                ./images/customer-nika2-2x-min.png 2x
              " />
            <img
              class="customer-reviews__imgs"
              src="./images/customer-nika2-min.png"
              alt="foto of client's"
              width="85"
          /></picture>
          <div class="customer-reviews__wraper">
            <p class="customer-reviews__feedback">
              One of the very nicest things about life is the way we must
              regularly stop whatever it is we are doing and devote our
              attention to eating.
            </p>
          </div>
          <p class="customer-reviews__location">Veronika, Odesa</p>
        </li>
        <li class="customer-reviews__item swiper-slide">
          <picture>
            <source
              srcset="
                ./images/customer-oleg.webp    1x,
                ./images/customer-oleg-2x.webp 2x
              "
              type="image/webp"
            />
            <source
              srcset="
                ./images/customer-oleg.png    1x,
                ./images/customer-oleg-2x.png 2x
              "
            />
            <img
              class="customer-reviews__imgs"
              src="./images/customer-oleg.png"
              alt="foto of client's"
              width="85"
            />
          </picture>
          <div class="customer-reviews__wraper">
            <p class="customer-reviews__feedback">
              Oh, everyone likes ice cream, yes indeed they do. Everyone likes
              ice cream, I do do you? Search the whole world over, travel near
              and far. But everyone likes ice cream no matter who they are.
            </p>
          </div>
          <p class="customer-reviews__location">Oleg, Kyiv</p>
        </li>
        <li class="customer-reviews__item swiper-slide">
          <picture>
            <source
              srcset="
                ./images/customer_anton.webp    1x,
                ./images/customer_anton-2x.webp 2x
              "
              type="image/webp"
            />
            <source
              srcset="
                ./images/customer_anton-min.png    1x,
                ./images/customer_anton-2x-min.png 2x
              "
            />
            <img
              class="customer-reviews__imgs"
              src="./images/customer_anton-min.png"
              alt="foto of client's"
              width="85"
            />
          </picture>
          <div class="customer-reviews__wraper">
            <p class="customer-reviews__feedback">
              Sometimes all you need is love... Oh, wait! And ice cream, and
              chocolate to go along with it, as nowadays love is anything but
              sweet.
            </p>
          </div>
          <p class="customer-reviews__location">Anton, Dnipro</p>
        </li>
        <li class="customer-reviews__item swiper-slide">
          <picture>
            <source
              srcset="
                ./images/customer_maksim-min.webp    1x,
                ./images/customer_maksim-2x-min.webp 2x
              "
              type="image/webp"
            />
            <source
              srcset="
                ./images/customer_maksim-min.png    1x,
                ./images/customer_maksim-2x-min.png 2x
              "
            />
            <img
              class="customer-reviews__imgs"
              src="./images/customer_maksim-min.png"
              alt="foto of client's"
              width="85"
            />
          </picture>
          <div class="customer-reviews__wraper">
            <p class="customer-reviews__feedback">
              When I was a kid, I used to think, ‘Man, if I could ever afford
              all the ice cream I want to eat, that’s as rich as I ever want to
              be.
            </p>
          </div>
          <p class="customer-reviews__location">Maksym, Kyiv</p>
        </li>
        <li class="customer-reviews__item swiper-slide">
          <picture>
            <source
              srcset="
                ./images/customer_ruslan.webp    1x,
                ./images/customer_ruslan-2x.webp 2x
              "
              type="image/webp"
            />
            <source
              srcset="
                ./images/customer_ruslan.png    1x,
                ./images/customer_ruslan-2x.png 2x
              "
            />
            <img
              class="customer-reviews__imgs"
              src="./images/customer_ruslan.png"
              alt="foto of client's"
              width="85"
            />
          </picture>
          <div class="customer-reviews__wraper">
            <p class="customer-reviews__feedback">
              I love dessert. All kinds. But there's something about ice cream
              that makes me happy. I am perplexed by the endless supply of
              constantly growing flavor options. And I am always in the mood for
              sprinkles and a sugar cone.
            </p>
          </div>
          <p class="customer-reviews__location">Ruslan, Lviv</p>
        </li>
        <li class="customer-reviews__item swiper-slide">
          <picture>
            <source
              srcset="
                ./images/customer_vlad-min.webp    1x,
                ./images/customer_vlad-2x-min.webp 2x
              "
              type="image/webp"
            />
            <source
              srcset="
                ./images/customer_vlad-min.png    1x,
                ./images/customer_vlad-2x-min.png 2x
              "
            />
            <img
              class="customer-reviews__imgs"
              src="./images/customer_vlad-min.png"
              alt="foto of client's"
              width="85"
            />
          </picture>
          <div class="customer-reviews__wraper">
            <p class="customer-reviews__feedback">
              Living life without a purpose is like having an ice cream cone in
              your hand [and] letting it melt and drip without eating it. It was
              yours to enjoy, but you lost it!
            </p>
          </div>
          <p class="customer-reviews__location">Vlad, Vinnytsya</p>
        </li>
        <li class="customer-reviews__item swiper-slide">
          <picture>
            <source
              srcset="
                ./images/customer_sergii.webp    1x,
                ./images/customer_sergii-2x.webp 2x
              "
              type="image/webp"
            />
            <source
              srcset="
                ./images/customer_sergii.png    1x,
                ./images/customer_sergii-2x.png 2x
              "
            />
            <img
              class="customer-reviews__imgs"
              src="./images/customer_sergii.png"
              alt="foto of client's"
              width="85"
            />
          </picture>
          <div class="customer-reviews__wraper">
            <p class="customer-reviews__feedback">
              When I have bad days, I just eat lots of chocolate ice cream and
              dance to the 'Lion King' soundtrack. It's really odd, but it's
              true.
            </p>
          </div>
          <p class="customer-reviews__location">Sergii, Kharkiv</p>
        </li>
        <li class="customer-reviews__item swiper-slide">
          <picture>
            <source
              srcset="
                ./images/customer-misha-min.webp    1x,
                ./images/customer-misha-2x-min.webp 2x
              "
              type="image/webp"
            />
            <source
              srcset="
                ./images/customer-misha-min.png    1x,
                ./images/customer-misha-2x-min.png 2x
              "
            />
            <img
              class="customer-reviews__imgs"
              src="./images/customer-misha-min.png"
              alt="foto of client's"
              width="85"
            />
          </picture>
          <div class="customer-reviews__wraper">
            <p class="customer-reviews__feedback">
              I’ve already had one ice cream cone. This is my secondairy.You
              know it’s a cool day when you have some ice cream.Ice cream is
              worth melting for.
            </p>
          </div>
          <p class="customer-reviews__location">Misha, Kyiv</p>
        </li>
        <li class="customer-reviews__item swiper-slide">
          <picture>
            <source
              srcset="
                ./images/customer-nadia-min.webp    1x,
                ./images/customer-nadia-2x-min.webp 2x
              "
              type="image/webp"
            />
            <source
              srcset="
                ./images/customer-nadia-min.png    1x,
                ./images/customer-nadia-2x-min.png 2x
              "
            />
            <img
              class="customer-reviews__imgs"
              src="./images/customer-nadia-min.png"
              alt="foto of client's"
              width="85"
            />
          </picture>
          <div class="customer-reviews__wraper">
            <p class="customer-reviews__feedback">
              Ice cream is the perfect buffer, because you can do things in a
              somewhat lighthearted way. Plus, people have an emotional response
              to ice cream; it's more than just food.
            </p>
          </div>
          <p class="customer-reviews__location">Nadia, Uzhgorod</p>
        </li>
      </ul>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
