<section class="customer-reviews" id="customer-reviews">
  <div class="container">
    <h2 class="visually-hidden">Customers-revirs</h2>
    <div class="reviews-slider swiper">
      <ul class="reviews-slider__list swiper-wrapper">
        <li class="customer-reviews__item swiper-slide">
          <img
            class="customer-reviews__imgs"
            srcset="
              ./images/customer-photo-mob.jpg    1x,
              ./images/customer-photo-mob-2x.jpg 2x
            "
            src="./images/customer-photo-mob.jpg"
            alt="фото клієнта"
            width="85"
          />
          <div class="customer-reviews__wraper">
            <p class="customer-reviews__feedback">
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
              Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
              ipsum primis in nibh vel risus.
            </p>
          </div>
          <p class="customer-reviews__location">Emily, Los Angeles</p>
        </li>

        <li class="customer-reviews__item swiper-slide">
          <img
            class="customer-reviews__imgs"
            srcset="
              ./images/customer-photo-mob.jpg    1x,
              ./images/customer-photo-mob-2x.jpg 2x
            "
            src="./images/customer-photo-mob.jpg"
            alt="фото клієнта"
            width="85"
          />
          <div class="customer-reviews__wraper">
            <p class="customer-reviews__feedback">
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
              Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
              ipsum primis in nibh vel risus.
            </p>
          </div>
          <p class="customer-reviews__location">Emily, Los Angeles</p>
        </li>
        <li class="customer-reviews__item swiper-slide">
          <img
            class="customer-reviews__imgs"
            srcset="
              ./images/customer-photo-mob.jpg    1x,
              ./images/customer-photo-mob-2x.jpg 2x
            "
            src="./images/customer-photo-mob.jpg"
            alt="фото клієнта"
            width="85"
          />
          <div class="customer-reviews__wraper">
            <p class="customer-reviews__feedback">
              lovelove viverra consectetuer. Quisque cursus et, porttitor risus.
              Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
              ipsum primis in nibh vel risus
            </p>
          </div>
          <p class="customer-reviews__location">Emily, Los Angeles</p>
        </li>
      </ul>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
