<footer class="footer">
    <div class="container">
        <div class="footer__button">
            <button type="submit" class="footer__btn btn">Our Locations
                <svg class="footer__btn-icon" width="24" height="24">
                    <use href="./images/icons.svg#icon-bracket"></use>
                </svg>
            </button>
            <button type="submit" class="footer__second-btn btn">Franchise
                <svg class="footer__btn-icon" width="24" height="24">
                    <use href="./images/icons.svg#icon-bracket"></use>
                </svg>
            </button>
        </div>
        <div class="footer__logo">
            <h3 class="footer__title-pre">homemade ice cream made</h3>
            <h2 class="footer__title">with passion</h2>
        </div>
        <div class="footer__contact">
            <div class="soc__wrap">
                <ul class="soc">
                    <li class="soc__item">
                        <a href="" class="soc__link">
                            <svg class="soc__icon" width="20" height="20">
                                <use href="./images/icons.svg#icon-github"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="soc__item">
                        <a href="" class="soc__link">
                            <svg class="soc__icon" width="20" height="16">
                                <use href="./images/icons.svg#icon-telegram"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="soc__item">
                        <a href="" class="soc__link">
                            <svg class="soc__icon" width="9" height="20">
                                <use href="./images/icons.svg#icon-facebook"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
            <p class="footer__text">Feel free to contact <a href="+610383766284" class="footer__text-tel">+61 (0) 383
                    766 284</a></p>
        </div>
        <div class="footer__text--copyright">&#169; 2022 - IceCream. All Rights Reserved.</div>
    </div>

</footer>