<section class="gallery" id="gallery">    
        <h2 hidden>Gallery</h2>
        <div class="container">
            <ul class="gallery-list">
        <li class="gallery-item">
            <picture>
                <source srcset="./images/home-pic1-1x-desktop.jpg 1x, ./images/home-pic1-2x-desktop.jpg 2x" width="138" media="(min-width:1200px)">
                <source srcset="./images/home-pic1-1x-tab.jpg 1x, ./images/home-pic1-2x-tab.jpg 2x" width="105" media="(min-width:768px)">
                <source srcset="./images/home-pic1-1x-mob.jpg 1x, ./images/home-pic1-2x-mob.jpg 2x" media="(min-width:320px)">
                <img src="./images/home-pic1-1x-mob.jpg" alt="icecream1" width="44">
            </picture>            
        </li>
        <li class="gallery-item">
            <picture>
                <source srcset="./images/home-pic2-1x-desktop.jpg 1x, ./images/home-pic2-2x-desktop.jpg 2x" width="138" media="(min-width:1200px)">
                <source srcset="./images/home-pic2-1x-tab.jpg 1x, ./images/home-pic2-2x-tab.jpg 2x" width="105" media="(min-width:768px)">
                <source srcset="./images/home-pic2-1x-mob.jpg 1x, ./images/home-pic2-2x-mob.jpg 2x" media="(min-width:320px)">
                <img src="./images/home-pic2-1x-mob.jpg" alt="icecream2" width="44">
            </picture>            
        </li>
        <li class="gallery-item">
            <picture>
                <source srcset="./images/home-pic3-1x-desktop.jpg 1x, ./images/home-pic3-2x-desktop.jpg 2x" width="138" media="(min-width:1200px)">
                <source srcset="./images/home-pic3-1x-tab.jpg 1x, ./images/home-pic3-2x-tab.jpg 2x" width="105" media="(min-width:768px)">
                <source srcset="./images/home-pic3-1x-mob.jpg 1x, ./images/home-pic3-2x-mob.jpg 2x" media="(min-width:320px)">
                <img src="./images/home-pic3-1x-mob.jpg" alt="icecream3" width="44">
            </picture>            
        </li>
        <li class="gallery-item">
            <picture>
                <source srcset="./images/home-pic4-1x-desktop.jpg 1x, ./images/home-pic4-2x-desktop.jpg 2x" width="283" media="(min-width:1200px)">
                <source srcset="./images/home-pic4-1x-tab.jpg 1x, ./images/home-pic4-2x-tab.jpg 2x" width="215" media="(min-width:768px)">
                <source srcset="./images/home-pic4-1x-mob.jpg 1x, ./images/home-pic4-2x-mob.jpg 2x" media="(min-width:320px)">
                <img src="./images/home-pic4-1x-mob.jpg" alt="icecream4" width="89">
            </picture>            
        </li>
        <li class="gallery-item">
            <picture>
                <source srcset="./images/home-pic5-1x-desktop.jpg 1x, ./images/home-pic5-2x-desktop.jpg 2x" width="138" media="(min-width:1200px)">
                <source srcset="./images/home-pic5-1x-tab.jpg 1x, ./images/home-pic5-2x-tab.jpg 2x" width="105" media="(min-width:768px)">
                <source srcset="./images/home-pic5-1x-mob.jpg 1x, ./images/home-pic5-2x-mob.jpg 2x" media="(min-width:320px)">
                <img src="./images/home-pic5-1x-mob.jpg" alt="icecream5" width="44" class="gallery-pic">
            </picture>            
        </li>
        <li class="gallery-item">
            <picture>
                <source srcset="./images/home-pic6-1x-desktop.jpg 1x, ./images/home-pic6-2x-desktop.jpg 2x" width="138" media="(min-width:1200px)">
                <source srcset="./images/home-pic6-1x-tab.jpg 1x, ./images/home-pic6-2x-tab.jpg 2x" width="105" media="(min-width:768px)">
                <source srcset="./images/home-pic6-1x-mob.jpg 1x, ./images/home-pic6-2x-mob.jpg 2x" media="(min-width:320px)">
                <img src="./images/home-pic6-1x-mob.jpg" alt="icecream6" width="44">
            </picture>            
        </li>
        <li class="gallery-item">
            <picture>
                <source srcset="./images/home-pic7-1x-desktop.jpg 1x, ./images/home-pic7-2x-desktop.jpg 2x" width="138" media="(min-width:1200px)">
                <source srcset="./images/home-pic7-1x-tab.jpg 1x, ./images/home-pic7-2x-tab.jpg 2x" width="105" media="(min-width:768px)">
                <source srcset="./images/home-pic7-1x-mob.jpg 1x, ./images/home-pic7-2x-mob.jpg 2x" media="(min-width:320px)">
                <img src="./images/home-pic7-1x-mob.jpg" alt="icecream7" width="44">
            </picture>            
        </li>
        <li class="gallery-item">
            <picture>
                <source  srcset="./images/home-pic8-1x-desktop.jpg 1x, ./images/home-pic8-2x-desktop.jpg 2x" width="138" media="(min-width:1200px)">
                <source srcset="./images/home-pic8-1x-tab.jpg 1x, ./images/home-pic8-2x-tab.jpg 2x" width="105" media="(min-width:768px)">
                <source srcset="./images/home-pic8-1x-mob.jpg 1x, ./images/home-pic8-2x-mob.jpg 2x" media="(min-width:320px)">
                <img src="./images/home-pic8-1x-mob.jpg" alt="icecream8" width="44">
            </picture>            
        </li>
        <li class="gallery-item">
            <picture>
                <source srcset="./images/home-pic9-1x-desktop.jpg 1x, ./images/home-pic9-2x-desktop.jpg 2x" width="138" media="(min-width:1200px)">
                <source srcset="./images/home-pic9-1x-tab.jpg 1x, ./images/home-pic9-2x-tab.jpg 2x" width="105" media="(min-width:768px)">
                <source srcset="./images/home-pic9-1x-mob.jpg 1x, ./images/home-pic9-2x-mob.jpg 2x" media="(min-width:320px)">
                <img src="./images/home-pic9-1x-mob.jpg" alt="icecream9" width="44">
            </picture>            
        </li>
        <li class="gallery-item">
            <picture>
                <source srcset="./images/home-pic10-1x-desktop.jpg 1x, ./images/home-pic10-2x-desktop.jpg 2x" width="138" media="(min-width:1200px)">
                <source srcset="./images/home-pic10-1x-tab.jpg 1x, ./images/home-pic10-2x-tab.jpg 2x" width="105" media="(min-width:768px)">
                <source srcset="./images/home-pic10-1x-mob.jpg 1x, ./images/home-pic10-2x-mob.jpg 2x" media="(min-width:320px)">
                <img src="./images/home-pic10-1x-mob.jpg" alt="icecream10" width="44">
            </picture>            
        </li>
    </ul>
        </div>         
</section>
