<main>
    <section class="grid-gallery">
        <h2 hidden>Gallery</h2>
        <ul class="grid-list">
            <li class="grid-item">
                <img src="./images/home-pic1-1x-min.jpg" alt="icecream1" width="44">
            </li>
            <li class="grid-item">
                <img src="./images/home-pic2-1x-min.jpg" alt="icecream2" width="44">
            </li>
            <li class="grid-item">
                <img src="./images/home-pic3-1x-min.jpg" alt="icecream3" width="44">
            </li>
            <li class="grid-item">
                <img src="./images/home-pic4-1x-min.jpg" alt="icecream4" width="89">
            </li>
            <li class="grid-item">
                <img src="./images/home-pic5-1x-min.jpg" alt="icecream5" width="44">
            </li>
            <li class="grid-item">
                <img src="./images/home-pic6-1x-min.jpg" alt="icecream6" width="44">
            </li>
            <li class="grid-item">
                <img src="./images/home-pic7-1x-min.jpg" alt="icecream7" width="44">
            </li>
            <li class="grid-item">
                <img src="./images/home-pic8-1x-min.jpg" alt="icecream8" width="44">
            </li>
            <li class="grid-item">
                <img src="./images/home-pic9-1x-min.jpg" alt="icecream9" width="44">
            </li>
            <li class="grid-item">
                <img src="./images/home-pic10-1x-min.jpg" alt="icecream10" width="44">
            </li>
        </ul>
    </section>
</main>