<header class="page-header">
    <div class="container">
        <a href="./index.html" class="logo_link">
            <svg class="logo-icon" width="199px" height="50px">
                <use href="./images/icons.svg#icon-header-logo"></use>
            </svg>
        </a>
        <button type="button" class="menu-open-btn">
            <svg class="menu-open-icon" width="20px" height="20px">
                <use href="./images/icons.svg#icon-open-mob-menu" class="menu-open-btn"></use>
            </svg>
        </button>
    </div>
    <div class="mob-menu is-hidden">
        <div class="container">
            <button type="button" class="menu-close-btn">
                <svg class="menu-close-icon" width="14px" height="14px">
                <use href="./images/icons.svg#icon-close-mob-menu"></use>
            </svg>
        </button>
        <button type="button" class="buy-btn"></button>
        <nav>
            <ul class="nav-list">
                <li class="nav-list__item">
                    <a href="./index.html" class="nav-list__link">Home</a></li>
                <li class="nav-list__item">
                    <a href="./index.html" class="nav-list__link">About Us</a></li>
                <li class="nav-list__item">
                    <a href="./index.html" class="nav-list__link">How it`s made?</a></li>
                <li class="nav-list__item">
                    <a href="./index.html" class="nav-list__link">Our Products</a></li>
                <li class="nav-list__item">
                    <a href="./index.html" class="nav-list__link">Contact</a></li>
            </ul>
        </nav>
        </div>
    </div>
</header>