<header class="page-header" id="header">
    <div class="menu-mob is-hidden">
        <div class="mob-container">
            <button type="button" class="menu-close-btn btn menu-mob__btn--close">
                <svg class="menu-close-icon" width="14px" height="14px">
                    <use href="./images/icons.svg#icon-close-mob-menu-1-var"></use>
                </svg>
            </button>
            <button type="button" class=" buy-btn btn" data-modal-open>Buy now
                <svg class="buy-btn-icon" width="5px" height="8px">
                    <use href="./images/icons.svg#icon-bracket-second"></use>
                </svg>
            </button>
            <nav>
                <ul class="nav-list">
                    <li class="nav-list__item">
                        <a href="#hero" class="nav-list__link nav-list__link--current">Home</a>
                    </li>
                    <li class="nav-list__item">
                        <a href="#gallery" class="nav-list__link ">About Us</a>
                    </li>
                    <li class="nav-list__item">
                        <a href="#about" class="nav-list__link ">How it`s made?</a>
                    </li>
                    <li class="nav-list__item">
                        <a href="#products" class="nav-list__link ">Our Products</a>
                    </li>
                    <li class="nav-list__item">
                        <a href="#contacts-info" class="nav-list__link">Contact</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="container">
        <a href="./index.html" class="logo_link animate__animated animate__fadeInDown">
            <svg class="logo-icon" width="199px" height="50px">
                <use href="./images/icons.svg#icon-header-logo"></use>
            </svg>
        </a>
        <nav>
            <ul class="main-nav-list animate__animated animate__fadeInDown">
                <li class="main-nav-list__item">
                    <a href="./index.html" class="main-nav-list__link main-nav-list__link--current">Home</a>
                </li>
                <li class="main-nav-list__item">
                    <a href="#gallery" class="main-nav-list__link">About Us</a>
                </li>
                <li class="main-nav-list__item">
                    <a href="#about" class="main-nav-list__link">How it`s made?</a>
                </li>
                <li class="main-nav-list__item">
                    <a href="#products" class="main-nav-list__link">Our Products</a>
                </li>
                <li class="main-nav-list__item">
                    <a href="#contacts-info" class="main-nav-list__link">Contact</a>
                </li>
            </ul>
        </nav>
        <button type="button" class="menu-open-btn btn menu-mob__btn--open animate__animated animate__fadeInDown">
             <svg class="menu-open-icon" width="20px" height="12px">
                <use href="./images/icons.svg#icon-open-mob-menu-1-var" class="menu-open-btn"></use>
            </svg>
        </button>
        <button type="button" class="header__buy-btn btn animate__animated animate__fadeInDown" data-mod-open>Buy now
            <svg class="buy-btn-icon" width="5px" height="8px">
                <use href="./images/icons.svg#icon-bracket-second"></use>
            </svg>
        </button>
    </div>
    
</header>