<section class="hero" id="hero">
    <div class="container">
        <div class="hero-thumb">
        <div class="hero-main">
    <h1 class="hero-title animate__animated animate__fadeInLeft">ice cream made with <span class="hero-accent">passion</span> </h1>
    <ul class="hero-btn__list animate__animated animate__fadeInLeft">
        <li class="hero-btn__item">
            <a href="#products" class="hero-btn__link--primary">Products</a>
            
        </li>
        <li class="hero-btn__item">
            <a href="#about" class="hero-btn__link--secondary">How it’s made?</a>
        </li>
    </ul>
    </div>
    <div class="hero-benefits animate__animated animate__fadeInRight">
        <ul class="hero-benefits__list">
            <li class="hero-benefits__item">
                <span class="hero-benefits__number first">16</span>
                <p class="hero-benefits__text first">cafes</p>
            </li>
            <li class="hero-benefits__item">
                <span class="hero-benefits__number second">23</span>
                <p class="hero-benefits__text second">food trucks</p>
            </li>
        </ul>
    </div>
    </div>
    <div class="hero-description animate__animated animate__fadeInLeft">
        <p class="hero-description__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
            labore et</p>
        <button class="hero-description__btn btn">
            <svg class="hero-description__icon" width="9" height="9">
                <use href="./images/icons.svg#icon-arrow-right"></use>
            </svg>
        </button>
    </div>
    
    

    </div>
</section>