<!--Секция 1  -->
<section class="section products">
  <div class="container">
    <p class="products__lable">100% NATURAL</p>
    <h3 class="products__title">PRODUCTS</h3>
    <ul class="product__list list">
      <li class="product__item cream__cards">
        <h4 class="products__title-cards cream">ICE CREAM</h4>
        <p class="product__description" lang="en">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.
        </p>
        <button type="button" class="section-products__btn">
          <svg class="products__btn-icon" width="20" height="20">
            <use href="./images/icons.svg#icon-arrow-right"></use>
          </svg>
        </button>

      </li>
      <li class="product__item coffee__cards">
        <h4 class="products__title-cards coffee">ICE COFFEE</h4>
        <p class="product__description" lang="en">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.
        </p>
        <button type="button" class="section-products__btn">
          <svg class="products__btn-icon" width="20" height="20">
            <use href="./images/icons.svg#icon-arrow-right"></use>
          </svg>
        </button>
      </li>
      <li class="product__item milkshakes__cards">
        <h4 class="products__title-cards milkshakes">MILKSHAKE</h4>

        <p class="product__description" lang="en">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.
        </p>
        <button type="button" class="section-products__btn">
          <svg class="products__btn-icon" width="20" height="20">
            <use href="./images/icons.svg#icon-arrow-right"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
