<!--Секция 1  -->
<section class="section products">
  <div class="container">
    <p class="products__lable">100% NATURAL</p>
    <h3 class="products__title">PRODUCTS</h3>
    <ul class="product__list list">
      <li class="product__item cream__cards">
        <!-- <picture class="product__img">
                <source
                  srcset="./images/products-ice-cream-mob.png 1x,
                  ./images/products-ice-cream-mob-2x.png 2x
                  "
                  media="(min-width: 480px)" />
                <img
                  class="product__ice-foto"
                  src="./images/products-ice-cream-mob-2x.png"
                  alt="Фото Мороженого"
              /></picture> -->

        <!-- <div class="product__card"> -->
        <!-- <div class="rrr"> -->
        <h4 class="products__title-cards cream">ICE CREAM</h4>
        <!-- </div> -->
        <!-- <a href="" class="product-list__link link">
                    <svg class="product-list__dot" width="20" height="20">
                      <use
                        href="./images/icons.svg#icon-product-triple-dots"
                      ></use></svg
                  >
                </a> -->
        <p class="product__description" lang="en">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.
        </p>
        <button type="button" class="section-products__btn">
          <svg class="products__btn-icon" width="20" height="20">
            <use href="./images/icons.svg#icon-arrow-right"></use>
          </svg>
        </button>
        <!-- </div> -->


        
      </li>
      <li class="product__item coffee__cards">
        <h4 class="products__title-cards coffee">ICE CREAM</h4>
        <p class="product__description" lang="en">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.
        </p>
        <button type="button" class="section-products__btn">
          <svg class="products__btn-icon" width="20" height="20">
            <use href="./images/icons.svg#icon-arrow-right"></use>
          </svg>
        </button>
      </li>
      <li class="product__item milkshakes__cards">
        <h4 class="products__title-cards milkshakes">ICE CREAM</h4>

        <p class="product__description" lang="en">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.
        </p>
        <button type="button" class="section-products__btn">
          <svg class="products__btn-icon" width="20" height="20">
            <use href="./images/icons.svg#icon-arrow-right"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
