// .products {
//   @include desktop {
//     padding: 60px 0px;
//   }
// }

.about {
  padding-top: 60px;
  padding-bottom: 20px;
  @include tablet {
    padding-bottom: 30px;
  }
}

.advantages {
  padding-top: 20px;
  padding-bottom: 80px;
  @include tablet {
    padding-top: 30px;
    padding-bottom: 64px;
  }
  @include desktop {
    padding-top: 60px;
    padding-bottom: 120px;
  }
}

.contacts {
  padding-bottom: 40px;
}

.footer {
  padding-bottom: 3px;
  @include tablet {
    padding-bottom: 8px;
  }
}
