.soc {
  padding-right: 6%;
}
.soc__item {
  width: 32px;
  height: 32px;
  &:not(:last-child)
  margin-right: 28px;
}

.soc__link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  color: #ffffff;
  background-color: var(--background-cos);
  transition: background-color var(--transition-duration) var(--timing-function);
  &:hover,
  &:focus {
    background-color: var(--background-cos-focus);
    outline: 1px solid transparent;
  }
}
