.section-about {
  padding-top: 60px;
  padding-bottom: 20px;

  background-color: var(--background-site-second);

  &__label {
    // margin-bottom: 15px;
  }

  &__title {
    display: block;
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 32px;
  }

  &__content {
    @include tablet {
      display: flex;
    }
  }

  &__list {
    z-index: 1;
    position: relative;
  }

  &__item {
    display: block;
    max-width: 220px;
    z-index: 1;
    @include tablet {
      width: 336px;
      // width: 100%;
    }
  }
  &__item:not(:last-child) {
    margin-bottom: 27px;

    color: var(--color-text-first);
    font-weight: 500;
    font-size: 12px;
    line-height: 1.58;
    z-index: 1;
  }
  &__item:last-child {
    margin-bottom: 20px;

    color: var(--color-text-second);
    font-weight: 500;
    font-size: 12px;
    line-height: 1.58;
    z-index: 1;
  }
  &__btn {
    width: 176px;
    height: 44px;
    padding: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    border-radius: 22px;
    border-style: none;
    background-color: var(--background-btn2);
    color: var(--color-text-btn2);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.28;
    text-align: center;
    &:hover,
    &:focus {
      background-color: var(--background-btn2-focus);
    }
  }
  &__btn-icon {
    margin-left: 14px;
    fill: var(--background-btn1);
  }
  &__pic {
    margin-bottom: 40px;
    @include tablet {
      width: 336px;
    }
  }
  &__pic-additional {
    position: absolute;
    top: 534px;
    left: 20px;
  }
}
.container {
  position: relative;
}
