.advantages {
  padding-top: 20px;
  padding-bottom: 87px;
  background-color: var(--background-site-second);
}

.advantages__list {
  padding-right: 50px;
}

.advantages__item {
  width: 100%;
}

.advantages__item:not(:last-child) {
  margin-bottom: 32px;
}

.advantages__item:nth-child(1):before {
  content: '';
  display: block;
  width: 33px;
  height: 50px;
  background-size: cover;
  margin-bottom: 16px;
  background-image: url('../images/logo.png');
}

.advantages__text {
  margin-top: 4px;
  font-family: 'DM Sans';
  font-weight: 700;
  font-size: 12px;
  line-height: 1.7;

  color: #000000;
}
