.advantages {
  background-color: var(--background-site-second);

  &__list {
    padding-right: 50px;
    @include tablet {
      display: flex;
      gap: 19px;
      padding-right: 0;
    }
    @include desktop {
      gap: 115px;
    }
  }
}

.advantages__item {
  width: 100%;
  @include tablet {
    width: 165px;
  }
  @include desktop {
    width: 288px;
  }

  &:not(:last-child) {
    margin-bottom: 32px;
    @include tablet {
      margin-bottom: 0;
    }
  }

  &::before {
    content: '';
    display: block;
    height: 50px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 16px;
    @include tablet {
      margin-bottom: 36px;
    }
    @include tablet {
      margin-bottom: 40px;
    }
  }

  &:nth-child(1):before {
    width: 33px;
    background-image: url('../images/advantages-milk-mob.png');
    @include retina {
      background-image: url('../images/advantages-milk-mob-2x.png');
    }
  }
  &:nth-child(2):before {
    width: 50px;
    background-image: url('../images/advantages-apples-mob.png');
    @include retina {
      background-image: url('../images/advantages-apples-mob-2x.png');
    }
  }
  &:nth-child(3):before {
    width: 44px;
    background-image: url('../images/advantages-heart-mob.png');
    @include retina {
      background-image: url('../images/advantages-heart-mob-2x.png');
    }
  }
}

.advantages__text {
  font-family: 'DM Sans';
  font-weight: 700;
  font-size: 12px;
  line-height: 1.7;

  color: #000000;

  @include tablet {
    font-size: 14px;
    line-height: 1.74;
  }
  @include tablet {
    font-size: 16px;
    line-height: 1.76;
    letter-spacing: 0.02em;
  }
}
