// .customer-reviews {
//   padding-top: 60px;
// }
.customer-reviews .container {
  @include tablet {
    padding: 0 74px;
  }
  @include desktop {
    padding: 0 116px;
  }
}
.reviews-slider__list {
  margin-bottom: 16px;
  @include tablet {
    margin-bottom: 32px;
  }
}
.customer-reviews__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.customer-reviews__imgs {
  margin-bottom: 30px;
  border-radius: 50%;

  @include tablet {
    margin-bottom: 20px;
  }
}
.customer-reviews__wraper {
  margin-bottom: 16px;
  padding: 43px 50px 18px 50px;
  min-width: 280px;
  background-color: var(--background-customers);
  z-index: -1;

  @include tablet {
    padding: 37px 50px 44px 50px;
  }
}
.customer-reviews__feedback {
  position: relative;
  font-weight: 500;
  font-size: 12px;
  line-height: 2.58;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-text-first);
  max-height: 250px;
  z-index: 1;
  background: repeating-linear-gradient(
    to bottom,
    #fafafa,
    #fafafa 29px,
    #e1e1e1 29px,
    #e1e1e1 30px
  );
  @include tablet {
    font-size: 14px;
    line-height: 2.16;
    letter-spacing: 0.04em;
  }
  @include desktop {
    font-size: 16px;
    line-height: 1.86;
    background: repeating-linear-gradient(
      to bottom,
      #fafafa,
      #fafafa 28px,
      #e1e1e1 28px,
      #e1e1e1 29px
    );
  }
}
.customer-reviews__feedback:before {
  content: '';
  position: absolute;
  display: block;
  top: -20px;
  left: -10px;
  width: 54px;
  height: 40px;
  background-image: url(../images/customer-quotes-mob.png);
  background-repeat: no-repeat;
  background-size: contain;
  z-index: -1;
  @include retina {
    background-image: url(../images/customer-quotes-mob-2x.png);
  }
  @include tablet {
    left: -30px;
  }
}

.customer-reviews__location {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.86;
  text-align: center;
  color: var(--color-text-first);
  @include tablet {
    font-size: 16px;
  }
  @include desktop {
    font-size: 20px;
  }
  &:before {
    content: '';
    display: block;
    margin: 0 auto 16px;
    text-align: center;
    width: 32px;
    height: 4px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../images/customer-tripledots-mob.png);
    @include retina {
      background-image: url(../images/customer-tripledots-mob-2x.png);
    }
  }
}

.swiper-pagination {
  position: static;
}
.swiper-pagination-bullet {
  // position: relative;
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #d9d9d9;
  //   background-color: transparent;
  //   background-image: url(../images/home-customer.png);
  //   background-repeat: no-repeat;
  //   background-size: contain;
}
.swiper-pagination-bullet-active {
  width: 12px;
  height: 13px;
  background-color: transparent;
  background-image: url(../images/home-customer.png);
  background-repeat: no-repeat;
  background-size: contain;
}
