.footer {
  padding-top: 32px;
  padding-bottom: 3px;
  background: var(--background-site-second);
}

.footer__container {
  display: flex;
  flex-direction: column;
}

.footer__button {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}

.footer__btn-icon {
  margin-left: 5px;
  fill: #ffffff;
}

.footer__logo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 66px;
  margin-bottom: 40px;
}

.footer__contact{
    display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-bottom: 40px;
}

.footer__text {
  font-weight: 700;
  font-size: 12px;
  line-height: calc(22 / 18);
  text-align: right;
  color: var(--color-text-first);
}
.footer__text-tel {
  font-weight: 700;
  font-size: 12px;
  line-height: calc(22 / 12);
  text-align: right;
  color: var(--color-text-focus);
}
.footer__text--copyright {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(21 / 14);
  text-align: center;
  color: var(--color-text-second);
border-top: 1px solid #E1E1E1;
padding: 16px 90px 3px;
}
