.page-header {
    position: relative;
    padding-top: 8px;
    background-color: var(--background-product1);
    height: 502px;
}

.page-header .container{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.menu-open-btn{
    position: absolute;
    top: 27px;
    right: 20px;
    background-color: transparent;
}