.page-header {
    // position: relative;
    // padding-top: 8px;
    background-color: var(--background-product1);
   
}


.page-header .container{
    // display: flex;
    // align-items: baseline;
    // justify-content: space-between;
    // position: relative;
    margin-left: 0;
    margin-right: 0;
    padding-top: 8px;
}

.menu-open-btn{
    position: absolute;
    top: 27px;
    right: 20px;
    background-color: transparent;
}

.menu-mob.is-hidden .menu-close-btn {
    display: none;
}

