.products {
    background-color:  white;
  }
.container {}

.pretitle {

margin-bottom: 15px;
color: var(--color-title-pre);
font-family: 'Titan One';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 1.15;
text-align: center;
letter-spacing: 0.03em;

}

.title {
margin-bottom: 8px;
color: var(--color-title);
font-family: 'Titan One';
font-style: normal;
font-weight: 400;
font-size: 34px;
line-height: 1.15;
text-align: center;
letter-spacing: 0.04em;
}

 
  .product__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  
  .product__item {
    width: 100%;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 24px;
    background-color: var(--background-product1);
  }
//   @media screen and (min-width: 768px) {
//     .staff__item {
//       width: calc((100% - 30px) / 2);
//     }
//   }
//   @media screen and (min-width: 768px) and (min-width: 1200px) {
//     .staff__item {
//       max-width: calc((100% - 90px) / 4);
//     }
//   }
  
  .product__card {
   
    padding-top: 30px;
    padding-bottom: 30px;
  }
  
  .product__name {
    margin-bottom: 32px;
color: var(--color-title-products);
    font-family: 'Titan One';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.04em;
  }
  
  .product__description {
    margin-bottom: 32px;
    color: var(--color-title-products);
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.04em;
  }